.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container{
  text-align: center;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.label{
  font-size: 24px;
  font-weight: bold;
}
