<div class="form-column">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"/>
      @if (formGroup.get('name')?.hasError('required')) {
        <mat-error>Name is required.</mat-error>
      } @else if (formGroup.get('name')?.hasError('minlength')) {
        <mat-error>Name must be at least 4 characters long.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      @if (formGroup.get('description')?.hasError('required')) {
        <mat-error>Description is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rarity</mat-label>
      <mat-select formControlName="rarity">
        @for (rarity of rarityOptions; track rarity.value) {
          <mat-option [value]="rarity.value">{{rarity.name}}</mat-option>
        }
      </mat-select>
      @if (formGroup.get('rarity')?.hasError('required')) {
        <mat-error>Rarity is required.</mat-error>
      }
    </mat-form-field>
    <div class="button-container">
        <button mat-button [disabled]="!(formValid())" type="button" (click)="addCaseTemplate()">Add Case Template</button>
    </div>
  </form>
</div>
